<h1>新規登録</h1>



  <% if @restaurant.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @restaurant.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <table class="table">
	<%= form_for @restaurant do |f| %>
	 	<tr>
      		<th>店名: <span class="text-danger">（必須）</span></th>
      		<td><%= f.text_field :name %></td>
    	</tr>
    	<tr>
      		<th>OPEN: <span class="text-danger">（必須）</span></th>
      		<td><%= f.text_field :start_t %>(0-23)</td>
    	</tr>
    	<tr>
      		<th>CLOSE: <span class="text-danger">（必須）</span></th>
      		<td><%= f.text_field :end_t %>(1-24)</td>
    	</tr>
    	<tr>
      		<th>L.O: </th>
      		<td><%= f.text_field :last_order %>(ex 22:45)</td>
    	</tr>
    	<tr>
      		<th>定休日: </th>
      		<td><%= f.text_field :holiday %></td>
    	</tr>
    	<tr>
      		<th>場所: </th>
      		<td><%= f.text_field :location %></td>
    	</tr>
    	<tr>
      		<th>URL: </th>
      		<td><%= f.text_field :url %></td>
    	</tr>
    </table>
		<%= f.submit "作成", class: 'btn btn-primary'%>
<% end %>