<h1><%= @restaurant.name%></h1>

<%= link_to "検索一覧に戻る", restaurants_path%> <br>
<%= link_to "編集", edit_restaurant_path(@restaurant)%>

<hr>
	<p><strong>Open</strong> <%= @restaurant.start.to_s(:default)%> ~~ <strong>Close</strong> <%= @restaurant.end.to_s(:default)%></p><br>
	<p><strong>場所</strong> <%= @restaurant.location %></p><br>
	<p><strong>URL</strong> <%= @restaurant.url %></p>

</hr>