<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant finder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'find_foods_icon.png', :rel => 'apple-touch-icon'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
